<!DOCTYPE html>
<html>

	<head>
		<%= javascript_include_tag "react" %>
		<%= javascript_include_tag "react-dom" %>

	</head>

	<body>



	<%= form_tag("/product", method: "put") do %>
	  <%= label_tag(:q, "Search for:") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Save me") %>
	<% end %>

















		

		<div class="container">
			<div class="row">
				<div class="list-group">
				  <a href="#" class="list-group-item disabled">
				    Cras justo odio
				  </a>
				  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				  <a href="#" class="list-group-item">Morbi leo risus</a>
				  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
				  <a href="#" class="list-group-item">Vestibulum at eros</a>
				</div>
			</div>
		</div>










		<div id="root"></div>

		<script>
			console.log("Hello");
			
			var HelloMessage = React.createClass({
				displayName: "HelloMessage",
				render: function render() {
					return React.createElement(
						"div",
						null,
						"Hello ",
						this.props.name
					);
				}
			});

			ReactDOM.render(React.createElement(HelloMessage, { name: "Liz" }), document.getElementById('root'));
		</script>
	</body>

</html>