<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>


<p>
  <strong>Line Items:</strong>
  <% @order.line_items.each do |line_item| %>
  	<%= line_item.product_id %>
  	<%= line_item.quantity %>
  	<%= line_item.price %>
  <% end %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
